.cart-dropdown {
  position: absolute;
  top: 100%;
  left: 27.6em;
  z-index: 10000;
  background-color: rgb(199, 199, 199);
  border: 2px solid black;
  text-align: center;
}

.text {
  margin-right: .5em;
  margin-left: .5em;
}

.cart button {
  color: black;
  background-color: black;
}

button.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 1em 2em;
}

a.button:hover {
  background-color: #3e8e41;
}